body {
    background: rgb(97, 46, 0);
}

p {
    /* #79DAFA in blue div */
    color: #FFBF00;
    font-family:sans-serif;
    font-weight:bold;
    font-size:20px;
}

h1 {
    color: antiquewhite;
    font-family:sans-serif;
    font-size:40px;
}

h2 {
    color: rgb(240, 200, 160);
    font-family:sans-serif;
    font-size:28px;
    font-weight:bold;
    margin:10px;
    padding:0;
}

h2 + h1{
    margin:10px;
}

div {
    color: #DD2606;
}

a, a:link, a:visited, a:hover, a:active {
    color: rgb(255, 216, 171);
    font-family:sans-serif;
    font-weight:bold;
    font-size:20px;
}

.div1 {
    background: rgb(125, 12, 0);
    margin: 0 50px; display:flex; align-items:stretch; width:calc(100%-50px); overflow:hidden; border-radius:10px;
}
.div2 {
    background: #DD2606;
}
