body {
    background: rgb(0, 0, 97);
}

p {
    /* #79DAFA in blue div */
    color: deepskyblue;
    font-family:sans-serif;
}

h1 {
    color: aliceblue;
    font-family:sans-serif;
}

div {
    color: #0626DD;
}